# Prerequisites
#
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Code
.vscode
powtorka.cpp
cwa_21032022/buble.cpp
cwa_28032022/bst.c
binary_serach_tree.c
test_comb.cpp
test_comb_sort.cpp
cwa_020622/kruskal.cpp